name: Generate Pac-Man Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Pac-Man SVGs
        uses: Platane/contribution-graph@v2
        with:
          user_name: danushrajaram
          format: pacman
          color_dark: "#0f0f0f"
          color_light: "#ffffff"
          output_dir: dist

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pacman
          path: dist/

      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
